
h1 {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color:lightgray;
    font: 24px;
}

.link {
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    font: 12px;
}
body {
    background-color: rgb(34, 162, 205);
}
head {
    background-color: rgb(111, 205, 240);
}
.navlinks {
  color: rgb(179, 179, 179)
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Times New Roman', Times,serif;
}