
h1 {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(70, 70, 70);
    font: 24px;
}

body {
    background-color: lightblue;
}
head {
    background-color: blue;
}
 a {
  text-decoration:none;
    color: rgb(179, 179, 179);
  font-size: 14px;
  padding: 5px 5px;
  font-weight: normal;
  margin-right: 200px;
  margin-left: 200px;
  font-family: 'Times New Roman', Times,serif;
}
a:hover {
    color: rgb(124, 124, 124);
    text-decoration: underline;
}