
h1 {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(70, 70, 70);
    font: 24px;
}

body {
    background-color: lightblue;
}
head {
    background-color: blue;
}
 a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: 14px;
  padding: 50px 50px;
  font-weight: normal;
  margin-right: 5px;
  font-family: 'Times New Roman', Times,serif;
}
a:hover {
    color: darken(rgb(179, 179, 179),30%);
    text-decoration: underline;
}